<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Central_de_Chamadas_Rei</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FuncionarioAction</display-name>
    <servlet-name>FuncionarioAction</servlet-name>
    <servlet-class>br.com.chamada.central.FuncionarioAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FuncionarioAction</servlet-name>
    <url-pattern>/FuncionarioAction</url-pattern>
  </servlet-mapping>
  <description></description>
  <servlet>
    <description></description>
    <display-name>SetorAction</display-name>
    <servlet-name>SetorAction</servlet-name>
    <servlet-class>br.com.chamada.central.SetorAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetorAction</servlet-name>
    <url-pattern>/SetorAction</url-pattern>
  </servlet-mapping>
  <description></description>
  <servlet>
    <description></description>
    <display-name>ChamadaAction</display-name>
    <servlet-name>ChamadaAction</servlet-name>
    <servlet-class>br.com.chamada.central.ChamadaAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChamadaAction</servlet-name>
    <url-pattern>/ChamadaAction</url-pattern>
  </servlet-mapping>
  <description></description>
  <servlet>
    <description></description>
    <display-name>RespostaAction</display-name>
    <servlet-name>RespostaAction</servlet-name>
    <servlet-class>br.com.chamada.central.RespostaAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RespostaAction</servlet-name>
    <url-pattern>/RespostaAction</url-pattern>
  </servlet-mapping>
  <description></description>
</web-app>